src/main/mule/caliber-webapp-eapi-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:qc-process-api="http://www.mulesoft.org/schema/mule/qc-process-api"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/qc-process-api http://www.mulesoft.org/schema/mule/qc-process-api/current/mule-qc-process-api.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get-percentages-by-period" doc:id="684fa0b0-9a0a-4dd1-bc71-aab61932ff77" >
		<qc-process-api:get-percentages doc:name="Get Percentages" doc:id="2719fa08-aeec-45b9-8eca-f7707edbcaca" config-ref="qcProcessAPIConfig" period="#[attributes.uriParams.'period']"/>
	</flow>
	<flow name="get-changes-of-percentages-by-period" doc:id="4ad52404-30de-4d1a-9c2f-649bab087a31" >
		<qc-process-api:get-changes-of-percentages doc:name="Get Changes of Percentages" doc:id="35edc7f7-aad3-4eea-b919-303d7526e454" config-ref="qcProcessAPIConfig" period="#[attributes.uriParams.'period']"/>
	</flow>
</mule>
